﻿<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 <!-- Bootstrap CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />

    <title>Vue JS workshop</title>
</head>

<body style="margin-top: 30px;">
    <style>
        [v-cloak] {
            display: none;
        }

        .p-5 {
            padding: 5px;
        }

        .p-10 {
            padding: 10px;
        }

        .m-10 {
            margin: 10px;
        }

        .greyBox {
            width: 100px;
            height: 20px;
            border-color: grey;
            border-radius: 5px;
            border: 1px solid;
            margin: 2px;
            padding: 0 5px;
        }
    </style>

    <div class="container">
        <h3 class="text-primary text-center">Vue JS Workshop</h3>
        <a href="index.html">
            <button class="btn btn-default btn-flat">Back</button>
        </a>
        <br>
        <div class="row">
            <div class="col">
                <div id="vueApp" v-cloak style="width: 100%; height: 200px;">

                    <div>
                        <h4>v-for with array</h4>
                        <span v-for="item in numberItems" 
                         class="badge badge-primary p-10 m-10">
                            {{item}}
                        </span>
                    </div>

                    <hr>

                    <div>
                        <h4>v-for with collections</h4>
                        <div>
                            <button v-on:click="createCollection">Create Collection</button>
                        </div>

                        <span v-for="singleItem in items" class="greyBox">
                            {{singleItem.name}}
                        </span>

                        <span>Hint: Note the late binding of collection objects after the button has been pressed.</span>
                    </div>

                    <hr>

                    <div>
                        <h4>v-for with object values</h4>
                        <div v-for="key in classObject">
                            {{key}}
                        </div>
                    </div>

                    <hr>

                    <div>
                        <h4>v-for with Indexer</h4>
                        <div v-for="(name, i) in names">
                            {{'Item ' + (i + 1) + ' is ' + name}}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue"></script>

    <script>
        $(document).ready(function () {
            new Vue({
                el: '#vueApp',
                data: {
                    showRedBox: true,
                    numberItems: [2, 3, 4, 2, 1, 5, 8],
                    names: ['Bill', 'Chris', 'Kirk', 'Matt', 'Newman', 'Tom'],
                    classObject: { name: 'John', age: 34, mealNeeded: true },
                    items: []
                },
                methods: {
                    createCollection: function () {
                        for (i = 0; i < 100; i++) {
                            this.items.push({ name: 'Item ' + i });
                        }
                    }
                }
            });

        });

    </script>
</body>

</html>