﻿<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />

    <title>Vue JS workshop</title>
</head>

<body style="margin-top: 30px;">
    <style>
        [v-cloak] {
            display: none;
        }

        .redBox {
            width: 200px;
            height: 100px;
            background-color: #f00;
            color: #fff;
        }

        .greenBox {
            width: 200px;
            height: 100px;
            background-color: #0f0;
            color: rgb(100, 98, 98);
        }

        .greyBox{
            width: 200px;
            height: 100px;
            background-color: rgb(108, 110, 108);
            color: rgb(253, 251, 127);
        }
    </style>

    <div class="container">
        <h3 class="text-primary text-center">Vue JS Workshop</h3>
        <a href="index.html">
            <button class="btn btn-default btn-flat">Back</button>
        </a>
        <div class="row"  id="vueApp" v-cloak>
            <div class="col-6"
            style="width: 100%; height: 200px;" class="text-center">
                    <pre style="border: 2px solid #438dd0; padding: 5px; color: #00f;">
    &lt;div v-if=&quot;showRedBox&quot; class=&quot;redBox&quot;&gt;
        &lt;div&gt;
            Showing Red Box
        &lt;/div&gt;
        &lt;div&gt;
            &lt;h3&gt;v-if&lt;/h3&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div v-else class=&quot;greenBox&quot;&gt;
        &lt;div&gt;
            Showing Red Box
        &lt;/div&gt;
        &lt;div&gt;
            &lt;h3&gt;v-else&lt;/h3&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div v-show=&quot;showRedBox&quot; class=&quot;greyBox&quot;&gt;
        &lt;div&gt;
            This element is still present in DOM but just hidden
        &lt;/div&gt;
        &lt;div&gt;
            &lt;h3&gt;v-show&lt;/h3&gt;
        &lt;/div&gt;                    
    &lt;/div&gt;
                    </pre>
            </div>
            <div class="col-6">
                <div 
                style="width: 100%; height: 200px;" class="text-center">
                    <div>
                        <button class="btn btn-primary" v-on:click="showRedBox = !showRedBox">Toggle</button>
                    </div>
                    <div v-if="showRedBox" class="redBox">
                        <div>
                            Showing Red Box
                        </div>
                        <div>
                            <h3>v-if</h3>
                        </div>
                    </div>
                    <div v-else class="greenBox">
                        <div>
                            Showing Red Box
                        </div>
                        <div>
                            <h3>v-else</h3>
                        </div>
                    </div>
                    <div v-show="showRedBox" class="greyBox">
                        <div>
                            This element is still present in DOM but just hidden
                        </div>
                        <div>
                            <h3>v-show</h3>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue"></script>

    <script>
        $(document).ready(function () {
            new Vue({
                el: '#vueApp',
                data: {
                    showRedBox: true
                }
            });

        });

    </script>
</body>

</html>