﻿<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <!-- Bootstrap CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />

    <title>Vue JS workshop</title>
</head>

<body style="margin-top: 30px;">
    <style>
        [v-cloak] {
            display: none;
        }

        .p-5 {
            padding: 5px;
        }

        .p-10 {
            padding: 10px;
        }

        .m-10 {
            margin: 10px;
        }

        .greyBox {
            width: 100px;
            height: 20px;
            border-color: grey;
            border-radius: 5px;
            border: 1px solid;
            margin: 2px;
            padding: 0 5px;
        }
    </style>

    <div class="container">
        <h3 class="text-primary text-center">Vue JS Workshop</h3>
        <a href="index.html">
            <button class="btn btn-default btn-flat">Back</button>
        </a>
        <div class="row" id="vueApp" v-cloak>
            <div class="col-6">
                <pre style="border: 2px solid #438dd0; padding: 5px; color: #00f;">
{
    <div v-for="(value, key) in person">
        {{key}}: {{value}}
    </div>
}
</pre>
            </div>
            <div class="col-6">
                <div>
                    <div>
                        <h4>v-model</h4>
                        <div class="row">
                            <div class="col-6">
                                <form class="needs-validation form-horizontal" novalidate="">
                                    <div class="form-group">
                                        <div class="col-xs-12 mb-3">
                                            <label for="firstName">First name</label>
                                            <input class="form-control" required="" type="text" placeholder="" value="" v-model="person.firstName">
                                        </div>

                                        <div class="col-xs-12 mb-3">
                                            <label for="firstName">Last name</label>
                                            <input class="form-control" required="" type="text" placeholder="" value="" v-model="person.lastName">
                                        </div>

                                        <div class="col-xs-12 mb-3">
                                            <label for="age">Age</label>
                                            <input class="form-control" required="" type="text" placeholder="" value="" v-model="person.age">
                                        </div>

                                        <div class="col-xs-12 mb-3">
                                            <label for="address1">Address 1</label>
                                            <input class="form-control" required="" type="text" placeholder="" value="" v-model="person.address1">
                                        </div>

                                        <div class="col-xs-12 mb-3">
                                            <label for="address2">Address 2</label>
                                            <input class="form-control" required="" type="text" placeholder="" value="" v-model="person.address2">
                                        </div>

                                        <div class="col-xs-12 mb-3">                                            
                                                <label for="likesIceCream"><input class="" required="" type="checkbox" placeholder="Enter age" value="" 
                                                    v-model="person.likesIceCream">&nbsp;&nbsp;Like Icecream? </label>
                                        </div>

                                    </div>
                                </form>
                            </div>
                            <div class="col-6">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue"></script>

    <script>
        $(document).ready(function () {
            new Vue({
                el: '#vueApp',
                data: {
                    person: {
                        firstName: '',
                        lastName: '',
                        age: '',
                        address1: '',
                        address2: '',
                        likesIceCream: false
                    }
                },
                methods: {

                }
            });

        });

    </script>
</body>

</html>