﻿<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />

    <title>Vue JS workshop</title>
</head>

<body style="margin-top: 30px;">
    <style>
        [v-cloak] {
            display: none;
        }

        .m-10 {
            margin: 10px;
        }
    </style>

    <div class="container">
        <h3 class="text-primary text-center">Vue JS Workshop</h3>
        <a href="index.html">
            <button class="btn btn-default btn-flat">Back</button>
        </a>
        <div class="row">
            <div class="col-6">
                <pre style="border: 2px solid #438dd0; padding: 5px; color: #00f;">
new Vue({
    el: '#vueApp',
    data: {
        message: 'Hello Kumar',
        firstName: 'Raj',
        lastName: 'Kumar',
        creationTime: null
    },
    methods: {
        add: function () {
            alert('Add clicked');
        }
    },
    computed: {
        fullName: function () {
            return this.firstName + ' ' + this.lastName;
        },
        getCreationTime: function(){
            return 'Instance was created at: ' + this.creationTime;
        }
    },
    watch: {
        firstName: function (newVal, oldVal) {
            if(newVal == 'Obama'){
                alert('Barrack Found!!!');
            }
        }
    },
    created: function () {
        this.creationTime = new Date();
    }
});

</pre>
            </div>
            <div class="col-6">
                <div id="vueApp" v-cloak>
                    <div class="m-10">
                        <span v-pre>{{message}} yields -> &nbsp;&nbsp; </span> {{message}}
                    </div>
                    <hr>
                    <div class="m-10">
                        <button class="btn btn-success btn-sm" v-on:click="add">Add</button>
                    </div>
                    <hr>
                    <div class="m-10">
                        <span v-pre>{{fullName}} yields -> &nbsp;&nbsp; </span>
                        <span>{{fullName}}</span>
                    </div>
                    <hr>
                    <div class="m-10">
                        <input type="text" v-model="firstName">
                        <br>
                        <span>Watches Firstname property. Alerts when Obama is typed.</span>
                    </div>
                    <hr>
                    <div class="m-10" v-html="getCreationTime">
                    </div>

                    <hr>
                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue"></script>

    <script>
        $(document).ready(function () {

            new Vue({
                el: '#vueApp',
                data: {
                    message: 'Hello Kumar',
                    firstName: 'Raj',
                    lastName: 'Kumar',
                    creationTime: null
                },
                methods: {
                    add: function () {
                        alert('Add clicked');
                    }
                },
                computed: {
                    fullName: function () {
                        return this.firstName + ' ' + this.lastName;
                    },
                    getCreationTime: function () {
                        return 'Instance was created at: <br/><b>' + this.creationTime + '</b>';
                    }
                },
                watch: {
                    firstName: function (newVal, oldVal) {
                        if (newVal == 'Obama') {
                            alert('Barrack Found!!!');
                        }
                    }
                },
                created: function () {
                    this.creationTime = new Date();
                }
            });

        });

    </script>
</body>

</html>