<template>
    <div class="counter">
        <div class="counter__value">{{ counter }}</div>
    </div>
</template>

<script>
export default {
  name: "Counters",
  computed: {
      counter(){
          //return this.$store.state.count
          return this.$store.getters.getCount
      }
  }
};
</script>