<template>
    <div class="increment">
        <button type="button" class="increment__button" @click="increment">Increment</button>
    </div>
</template>

<script>
    export default {
        name: "Increments",
        methods: {
            increment(){
                this.$store.commit('INCREMENT_VALUE');
            }
        }
    }
</script>