<template>
    <div class="app">       
      <counters></counters>
      <increments></increments>
    </div>
</template>

<script>
import store from "./store/store";
import Counters from "./components/Counter.vue";
import Increments from "./components/Increment.vue";
export default {
  store,
  components: {
    Counters,
    Increments
  }
};
</script>