﻿<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />


    <title>Vue JS workshop</title>
</head>

<body style="margin-top: 30px;">
    <style>
        [v-cloak] {
            display: none;
        }

        .p-5 {
            padding: 5px;
        }

        .p-10 {
            padding: 10px;
        }

        .m-10 {
            margin: 10px;
        }

        .simpleBox {
            display: inline-block;
            border-radius: 5px;
            margin: 10px;
            padding: 10px;
            border: 2px solid #ff0000;
            width: 70px;
        }
    </style>

    <div class="container" id="vueApp" v-cloak>
        <h3 class="text-primary text-center">Vue JS Workshop</h3>
        <a href="index.html" class="">
            <button class="btn btn-default btn-flat">Back</button>
        </a>
        <h4> Directives - Apply functionality to HTML Dom elements </h4>

        <div class="row" style="margin-top: 30px;">
            <div class="col-6">
                <pre style="border: 2px solid #438dd0; padding: 5px; color: #00f;">
    Vue.directive('highlighter', {
        bind(element, binding, vnode){

        },
        inserted(element, binding, vnode){

        },
        updated(element, binding, vnode, oldVnode){

        },
        componentUpdated(element, binding, vnode, oldVnode){

        },
        unbind(element, binding, vnode){

        },
    });
        
                </pre>
                <span>Apply the highlighter directive to each div by placing v-highlighter. Pass search value to v-highlighter via argument.</span>
                <br />
                <br />

                <pre v-pre style="border: 2px solid #438dd0; padding: 5px; color: #00f;">
&lt;div style="display: inline;"
        v-for="line in literature"
        v-highlighter="searchtext"&gt;
        {{line.text}}
&lt;/div&gt;        
                </pre>
            </div>
            <div class="col-6">
                <div>
                    <span>Search for characters and see the line getting highlighted</span>
                    <br>
                    <input type="text" class="form-control" v-model="searchtext">
                    <br />


                    <div style="display: inline;"
                         v-for="line in literature"
                         v-highlighter="searchtext">
                        {{line.text}}
                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue"></script>

    <script>
        $(document).ready(function () {


            Vue.directive('highlighter', {
                bind(element, binding, vnode) {
                    console.log('bind');
                },
                inserted(element, binding, vnode) {
                    console.log('inserted');
                },
                updated(element, binding, vnode, oldVnode) {
                    console.log('updated');
                },
                componentUpdated(element, binding, vnode, oldVnode) {
                    console.log('cUpdated');
                    if (binding.value.length > 2) {
                        if (element.innerText.indexOf(binding.value) >= 0) {
                            element.style.backgroundColor = 'cyan';
                        }
                        else {
                            element.style.backgroundColor = 'white';
                        }
                    }
                    else {
                        element.style.backgroundColor = 'white';
                    }
                },
                unbind(element, binding, vnode) {
                    console.log('unbound');
                },
            });

            new Vue({
                el: '#vueApp',
                data: {
                    searchtext: '',
                    literature: [
                        { text: 'Therefore encourage one another and build one another up, just as you are doing. ' },
                        { text: 'But those who hope in the LORD will renew their strength. They will soar on wings like eagles; they will run and not grow weary, they will walk and not be faint. ' },
                        { text: 'When you pass through the waters, I will be with you; and when you pass through the rivers, they will not sweep over you. When you walk through the fire, you will not be burned; the flames will not set you ablaze. ' },
                        { text: 'Have I not commanded you? Be strong and courageous. Do not be afraid; do not be discouraged, for the LORD your God will be with you wherever you go. ' },
                    ]
                },

            });

        });

    </script>
</body>

</html>