﻿<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <title>Vue JS workshop</title>
</head>

<body style="margin-top: 30px;">
    <style>
        [v-cloak] {
            display: none;
        }

        .p-5 {
            padding: 5px;
        }

        .p-10 {
            padding: 10px;
        }

        .m-10 {
            margin: 10px;
        }

        .greyBox {
            width: 100px;
            height: 20px;
            border-color: grey;
            border-radius: 5px;
            border: 1px solid;
            margin: 2px;
            padding: 0 5px;
        }

        .phone{
            display: inline-block; width: 250px; height: 330px; position: relative; margin-right: 10px; margin-bottom: 10px; padding: 20px;
        }
    </style>

    <div class="container">
        <h3 class="text-primary text-center">Vue JS Workshop</h3>
        <a href="index.html">
            <button class="btn btn-default btn-flat">Back</button>
        </a>
        <div class="row" style="margin-top: 20px;">
            <div class="col">
                <div id="vueApp" v-cloak>
                    <h4> Events - Child to Parent Communication. </h4>

                    <span>Hit [Add to Cart] button to see message beamed from Component to the Instance (see cart on top right)</span>
                    <br />
                    
                    <div style="height: 40px; background-color: #438dd0; color: #fff; font-size: 1.2em; margin-top: 20px; ">
                        <div class="pull-left" style="font-size: 1.5em; margin-left: 20px">Amazon.in</div>
                        <div class="pull-right" style="margin-right: 20px;">
                            Cart <i class="fa fa-shopping-cart fa-fw"></i><span>{{cartCount}}</span>
                        </div>
                    </div>


                    <br>                    

                    <product-component v-for="product in products" 
                                        v-bind:product="product" 
                                        ref="productRefs" 
                                        v-on:push-to-cart="incrementCart"></product-component>

                </div>
            </div>
        </div>
    </div>

    <template id="productTemplate">
        <div class="phone">
            <div style="position: absolute;top: 5px; left: 5px;">
                <span class="badge badge-warning">
                    {{product.discount}} %
                </span>
            </div>

            <div class="text-center">
                <img v-bind:src="product.url" style="width: 150px; height: 200px;" alt="">
            </div>

            <div>
                <h5 class="text-center">{{product.name}}</h5>
            </div>

            <div style="display: flex">
                <div style="flex: 1; text-decoration: line-through; color: #f02398;">
                    Rs. {{product.price}}/-
                </div>
                <div style="flex: 1; ">
                    Rs. {{calculateDiscountedPrice(product)}}/-
                </div>                
            </div>
            <div class="text-center">
                <button class="btn-xs btn-success" v-on:click="addToCart(product)">Add to cart</button>
            </div>
        </div>
    </template>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/vue"></script>

    <script>
        $(document).ready(function () {

            
            Vue.component('product-component', Vue.extend({
                template: '#productTemplate',
                data: function(){
                    return{
                        phoneTypes:['handheeld', 'smartphone']
                    }
                },
                props: ['product'],
                methods: {
                    calculateDiscountedPrice: function(val){
                        return val.price - (val.price * (val.discount / 100));
                    },
                    addToCart:function(product){
                        this.$emit('push-to-cart', product, this.phoneTypes);
                    }
                   
                }
            }));


            new Vue({
                el: '#vueApp',
                data: {
                    singular: { discount: 10, name: 'Samsung J7', price: 22500 ,url: 'https://pisces.bbystatic.com/image2/BestBuy_US/images/products/5923/5923402_sd.jpg;maxHeight=640;maxWidth=550'},
                    products: [
                        { discount: 5, name: 'Xiaomi 5', price: 13500 , url: 'https://www.whatmobile.com.pk/admin/images/Xiaomi/XiaomiRedmi5plus-b.gif'},
                        { discount: 3, name: 'One Plus 5', price: 39000 , url: 'https://cdn2.gsmarena.com/vv/bigpic/oneplus-5.jpg'},
                        { discount: 5, name: 'Note V', price: 45000 , url: 'https://www.91-img.com/pictures/111500-v2-xiaomi-redmi-note-5-mobile-phone-large-1.jpg'},
                        { discount: 7, name: 'Honor 7X', price: 39000 , url: 'https://www.91-img.com/pictures/121716-v2-honor-7x-mobile-phone-large-1.jpg'},
                        { discount: 2, name: 'iPhone X', price: 78000 , url: 'https://ss7.vzw.com/is/image/VerizonWireless/iPhoneX-Svr?$png8alpha256$&hei=410'},
                    ],
                    cartCount: 0
                },
                methods: {
                    incrementCart: function(product){
                        this.cartCount++;

                        // ajax call to push this to session
                    }
                }
               
            });

        });

    </script>
</body>

</html>