﻿<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />


    <title>Vue JS workshop</title>
</head>

<body style="margin-top: 30px;">
    <style>
        [v-cloak] {
            display: none;
        }

        .p-5 {
            padding: 5px;
        }

        .p-10 {
            padding: 10px;
        }

        .m-10 {
            margin: 10px;
        }

        .simpleBox {
            display: inline-block;
            border-radius: 5px;
            margin: 10px;
            padding: 10px;
            border: 2px solid #ff0000;
            width: 70px;
        }
    </style>

    <div class="container" id="vueApp" v-cloak>
        <h3 class="text-primary text-center">Vue JS Workshop</h3>
        <a href="index.html" class="">
            <button class="btn btn-default btn-flat">Back</button>
        </a>
        <div class="row" style="margin-top: 30px;">
            <div class="col-6">
                <pre v-pre style="border: 2px solid #438dd0; padding: 5px; color: #00f;">
Vue.filter('rupees', function(value){
    if(!value) return '';
    return 'Rs. ' + value + '/-';
});

Formatted money is: {{ price | rupees }}
        
                </pre>
            </div>
            <div class="col-6">
                <div>
                    <h4>Filter Usage</h4>
                    <br>

                    Formatted money is: {{ price | rupees }}
                    
                </div>
            </div>
        </div>

    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue"></script>

    <script>
        $(document).ready(function () {


 Vue.filter('rupees', function(value){
        if(!value) return '';
        return 'Rs. ' + value + '/-';
    });

            new Vue({
                el: '#vueApp',
                data: {
                    price: 33000
                },

            });

        });

    </script>
</body>

</html>