﻿<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />


    <title>Vue JS workshop</title>
</head>

<body style="margin-top: 30px;">
    <style>
        [v-cloak] {
            display: none;
        }

        .p-5 {
            padding: 5px;
        }

        .p-10 {
            padding: 10px;
        }

        .m-10 {
            margin: 10px;
        }

        .simpleBox {
            display: inline-block;
            border-radius: 5px;
            margin: 10px;
            padding: 10px;
            border: 2px solid #ff0000;
            width: 70px;
        }

        .phone {
            display: inline-block;
            width: 250px;
            height: 300px;
            position: relative;
            margin-right: 10px;
            margin-bottom: 10px;
            padding: 20px;
        }

        .fade-enter-active,
        .fade-leave-active {
            transition: opacity .5s;
        }

        .fade-enter,
        .fade-leave-to
        /* .fade-leave-active below version 2.1.8 */

            {
            opacity: 0;
        }

        .slide-fade-enter-active {
            transition: all .3s ease;
        }

        .slide-fade-leave-active {
            transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
        }

        .slide-fade-enter,
        .slide-fade-leave-to
        /* .slide-fade-leave-active below version 2.1.8 */

            {
            transform: translateX(10px);
            opacity: 0;
        }
    </style>

    <div class="container" id="vueApp" v-cloak>
        <h3 class="text-primary text-center">Vue JS Workshop</h3>
        <a href="index.html" class="">
            <button class="btn btn-default btn-flat">Back</button>
        </a>
        <h4 style="margin-top: 30px;">Simple Transitions</h4>
        <h5>Add products with a slide fade transition</h5>

        <div class="row" >
            <div class="col">
                <div>                   

                    <button class="btn-xs btn-success" v-on:click="addproduct">Add product</button>
                    <br>
                    <product-component v-for="product in productsArr" v-bind:product="product"></product-component>

                </div>
            </div>
        </div>

    </div>


    <template id="productTemplate">
        
            <transition name="slide-fade">
                <div class="phone">
                    <div style="position: absolute;top: 5px; left: 5px;">
                        <span class="badge badge-warning">
                            {{product.discount}} %
                        </span>
                    </div>

                    <div class="text-center">
                        <img v-bind:src="product.url" style="width: 150px; height: 200px;" alt="">
                    </div>

                    <div>
                        <h5 class="text-center">{{product.name}}</h5>
                    </div>

                    <div style="display: flex">
                        <div style="flex: 1; text-decoration: line-through; color: #f02398;">
                            Rs. {{product.price}}/-
                        </div>
                        <div style="flex: 1; ">
                            Rs. {{calculateDiscountedPrice(product)}}/-
                        </div>
                    </div>
                </div>
            </transition>
        
    </template>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue"></script>

    <script>
        $(document).ready(function () {


            Vue.component('product-component', Vue.extend({
                template: '#productTemplate',
                props: ['product'],
                methods: {
                    calculateDiscountedPrice: function (val) {
                        return val.price - (val.price * (val.discount / 100));
                    }
                }
            }));


            new Vue({
                el: '#vueApp',
                data: {
                    products: [
                        { discount: 5, name: 'Xiaomi 5', price: 13500, url: 'https://www.whatmobile.com.pk/admin/images/Xiaomi/XiaomiRedmi5plus-b.gif' },
                        { discount: 3, name: 'One Plus 5', price: 39000, url: 'https://cdn2.gsmarena.com/vv/bigpic/oneplus-5.jpg' },
                        { discount: 5, name: 'Note V', price: 45000, url: 'https://www.91-img.com/pictures/111500-v2-xiaomi-redmi-note-5-mobile-phone-large-1.jpg' },
                        { discount: 7, name: 'Honor 7X', price: 39000, url: 'https://www.91-img.com/pictures/121716-v2-honor-7x-mobile-phone-large-1.jpg' },
                        { discount: 2, name: 'iPhone X', price: 78000, url: 'https://ss7.vzw.com/is/image/VerizonWireless/iPhoneX-Svr?$png8alpha256$&hei=410' },
                    ],
                    productsArr: []
                },
                methods: {
                    addproduct: function () {
                        this.productsArr.push(this.products[0]);
                    }
                }

            });

        });

    </script>
</body>

</html>