<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />

    <title>Vue JS workshop - Lifecycle Hooks</title>
</head>

<body style="margin-top: 30px;">
    <div class="container">
        <h3 class="text-primary text-center">Vue JS Workshop</h3>
        <a href="index.html">
            <button class="btn btn-default btn-flat">Back</button>
        </a>
        <div class="row">
            <div class="col">
                <div id="vueApp" style="width: 100%; height: 200px;" class="text-center">
                    {{message}}
                    <input type="text" v-model="message"/>
                    
                    
                    <h6 style="margin-top: 40px;">1. Please hit F12 and inspect the console for creation lifecyle events</h4>
                        <h6 style="margin-top: 40px;">2. Now start typing to see update hooks in action.</h4>
                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/vue"></script>

    <script>
        $(document).ready(function () {
            new Vue({
                el: '#vueApp',
                data: {
                    message: 'Hello World!'
                },
                beforeCreate: function () {
                    console.log("beforeCreated - Called synchronously immediately after the instance has been initialized, before data observation and event/watcher setup.");
                },
                created: function () {
                    console.log("created - Called synchronously after the instance is created. \
                    At this stage, the instance has finished processing the options which means the following have been set up: \
                    data observation, computed properties, methods, watch/event callbacks. However, the mounting phase has not been started, \
                    and the $el property will not be available yet.");
                },
                beforeMount: function () {
                    console.log("beforeMount - Called right before the mounting begins: the render function is about to be called for the first time.");
                },
                mounted: function () {
                    console.log("mounted - Called after the instance has been mounted, where el is replaced by the newly created vm.$el. \
                    If the root instance is mounted to an in-document element, vm.$el will also be in-document when mounted is called.");

                    // Note that mounted does not guarantee that all child components have also been mounted
                },
                beforeUpdate: function () {
                    console.log("beforeUpdate - Called when data changes, before the DOM is patched. \
                    This is a good place to access the existing DOM before an update, e.g. to remove manually added event listeners.");
                },
                updated: function () {
                    console.log("updated - Called after a data change causes the virtual DOM to be re-rendered and patched. \
                                The component’s DOM will have been updated when this hook is called, so you can perform DOM-dependent operations here.")
                },
                activated: function () {
                    console.log("activated - Called when a kept-alive component is activated.")
                },
                deactivated: function () {
                    console.log("deactivated - Called when a kept-alive component is deactivated.");
                },
                beforeDestroy: function () {
                    console.log("beforeDestroy - Called right before a Vue instance is destroyed. At this stage the instance is still fully functional.")
                },
                destroyed: function () {
                    console.log("destroyed - Called after a Vue instance has been destroyed.  \
                    When this hook is called, all directives of the Vue instance have been unbound, \
                    all event listeners have been removed, and all child Vue instances have also been destroyed.")
                },
                errorCaptured: function (err, vm, info) {
                    console.log("errorCaptured - Called when an error from any descendent component is captured. \
                    The hook receives three arguments: the error, the component instance that triggered the error, \
                    and a string containing information on where the error was captured. The hook can return false to stop the error from propagating further.")
                }
            });

        });

    </script>
</body>

</html>