<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />


    <title>Sample with Vue JS</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>

    <div class="alert alert-primary" role="alert">
        <a href="index.html">Go back to Index</a>
    </div>
    <div id="productsMainApp" v-cloak>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>
                            <input type="text" placeholder="Product Id" v-model="newProduct.productId">
                        </th>
                        <th>
                            <input type="text" placeholder="Name" v-model="newProduct.name">
                        </th>
                        <th>
                            <input type="text" placeholder="Quantity" v-model="newProduct.quantity">
                            <button class="btn btn-primary" v-on:click="addProduct">Add</button>
                        </th>
                    </tr>
                    <tr>
                        <th>Product Id</th>
                        <th>Name</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="product in products">
                        <td>
                            {{product.productId}}
                        </td>
                        <td>
                            {{product.name}}
                        </td>
                        <td>
                            {{product.quantity}}
                            <input type="text" v-model='product.updatedQuantity'>
                            <button class="btn btn-xs btn-detault" v-on:click="updateQuantity(product)">Update</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/vue"></script>

    <script>   
        var products = [];

        products.push({ productId: 10001, name: "Product 1", quantity: 100 });
        products.push({ productId: 10002, name: "Product 2", quantity: 50 });
        products.push({ productId: 10003, name: "Product 3", quantity: 200 });
        products.push({ productId: 10004, name: "Product 4", quantity: 300 });

        var app = new Vue({
            el: '#productsMainApp',
            data: {
                newProduct: {
                    productId: '',
                    name: '',
                    quantity: ''
                },
                products: products,
            },
            methods: {
                addProduct: function () {
                    this.products.push({ productId: this.newProduct.productId, name: this.newProduct.name, quantity: this.newProduct.quantity });
                    this.newProduct.productId = '';
                    this.newProduct.name = '';
                    this.newProduct.quantity = '';
                },
                updateQuantity: function (product) {
                    product.quantity += parseInt(product.updatedQuantity);
                    product.updatedQuantity = '';
                }
            }
        })
    </script>
</body>

</html>