﻿<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">

    <title>Vue JS workshop</title>
</head>

<body style="margin-top: 30px;">
    <style>
        [v-cloak] {
            display: none;
        }

        .p-5 {
            padding: 5px;
        }

        .p-10 {
            padding: 10px;
        }

        .m-10 {
            margin: 10px;
        }

        .simpleBox {
            display: inline-block;
            border-radius: 5px;
            margin: 10px;
            padding: 10px;
            border: 2px solid #ff0000;
            width: 70px;
        }
    </style>

    <div class="container" id="vueApp" v-cloak>
        <h3 class="text-primary text-center">Vue JS Workshop</h3>
        <a href="index.html" class="">
            <button class="btn btn-default btn-flat">Back</button>
        </a>
        <div class="row" style="margin-top: 30px;">            
            <div class="col">
                <div>
                    <h4>Pager</h4>
                    <br>

                   
                </div>
            </div>
        </div>

        
    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>

    <script>
        $(document).ready(function () {


           ﻿(function(){
    Vue.component("ecb-pager", {
        template: '<div class="col-md-12 text-center"> \
                   <ul class="pagination"> \
                       <li :class="{\'disabled\' : isFirst}" @click="!isFirst && first()"> \
                           <a href="javascript:void(0);"><i class="fa fa-fast-backward"></i></a> \
                       </li> \
                       <li :class="{\'disabled\' : isFirst}" @click="!isFirst && previous()"> \
                           <a href="javascript:void(0);"><i class="fa fa-backward"></i></a> \
                       </li> \
                       <li> \
                           <input type="text" class="input-sm" size="2" v-model="toPage" number @keyup.enter="toPageChanged" @keyup.tab="toPageChanged"/> of {{totalPages}} \
                       </li> \
                       <li :class="{\'disabled\' : isLast}" @click="!isLast && next()"> \
                           <a href="javascript:void(0);"><i class="fa fa-forward"></i></a> \
                       </li> \
                       <li :class="{\'disabled\' : isLast}" @click="!isLast && last()"> \
                           <a href="javascript:void(0);"><i class="fa fa-fast-forward"></i></a> \
                       </li> \
                       <li> \
                           <select class="padding-5" v-model="pageSize" @change="pageSizeChanged"> \
                               <option v-for="row in currentRowList" :value="row" :key=row>{{row}}</option> \
                           </select> \
                       </li> \
                       <li > \
                           &nbsp; \
                       </li > \
                       <li> \
                           <strong>{{viewRecords}}</strong> \
                       </li> \
                   </ul> \
               </div>',
        props: ["currentPage", "currentRecordCount", "totalRecordCount", "viewText", "rowList",],
        data: function () {
            return {
                currentViewText: this.viewText || "Viewing {0} of {1}",
                totalPages: 0,
                pageSize: 10,
                toPage: this.currentPage,
                currentRowList: this.rowList || ["10", "20", "40"]
            }
        },
        methods: {
            first: function () {
                this.loadRecords(1);
            },
            previous: function () {
                this.loadRecords(this.currentPage - 1);
            },
            next: function () {
                this.loadRecords(this.currentPage + 1);
            },
            last: function () {
                this.loadRecords(this.totalPages);
            },
            loadRecords: function (page) {
                this.$emit("ecb-pager-load-records", page, this.pageSize);
            },
            pageSizeChanged: function () {
                this.totalPages = Math.ceil(this.totalRecordCount / this.pageSize);
                this.loadRecords(1);
            },
            toPageChanged: function () {
                var toPage = this.toPage <= 0 ? 1 : this.toPage > this.totalPages ? this.totalPages : this.toPage;
                this.loadRecords(toPage);
            }
        },
        computed: {
            isFirst: function () {
                return this.currentPage <= 1;
            },
            isLast: function () {
                return this.currentPage >= this.totalPages;
            },
            viewRecords: function () {
                var startCount = ((this.currentPage - 1) * this.pageSize) + 1;
                var endCount = (parseInt(this.currentRecordCount) + startCount) - 1;
                endCount = (endCount > this.totalRecordCount) ? this.totalRecordCount : endCount;
                return this.currentViewText.format(startCount + " - " + endCount, this.totalRecordCount);
            }
        },
        created: function(){
            this.totalPages = Math.ceil(this.totalRecordCount / this.pageSize);
        },
        watch: {
            totalRecordCount: function (newValue) {
                this.totalPages = Math.ceil(newValue / this.pageSize);
            }, 
            currentPage: function (newValue) {
                this.toPage = newValue;
            }
        }
    });
})();


            new Vue({
                el: '#vueApp',
                data: {

                },

            });

        });

    </script>
</body>

</html>