<!doctype html>
<html lang="en">

<head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />


    <title>Vue JS workshop</title>
</head>

<body style="margin-top: 30px;">  
    
        
        <div class="container">
                <h3 class="text-primary text-center">Vue JS Workshop</h3>
                <a href="index.html">
                    <button class="btn btn-default btn-flat">Back</button>
                </a>
                <div class="row">
                    <div class="col">
                        <div id="vueApp"
                            style="width: 100%; height: 200px;" class="text-center">
                               {{message}}
                        </div>                        
                    </div>
                </div>
            </div>    
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
        
    <script src="https://unpkg.com/vue"></script>

    <script>
        $(document).ready(function () {
                new Vue({
                    el: '#vueApp',
                    data: {
                        message:'Hello World!'
                    }
                });

        });

    </script>
</body>

</html>