<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div class="alert alert-primary" role="alert">
        <a href="index.html">Go back to Index</a>
    </div>
    <div id="productsMainApp" v-cloak>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Product Id</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="product in orderdProducts" :is="compName" :product="product" @delete="deleteProduct(product)" ></tr>

                </tbody>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
    <script src="https://unpkg.com/lodash"></script>

    <script>   
        $(function () {

            Vue.component("productDetail", {
                template: "#productDetail",
                props: ["product"],
                methods: {
                    deleteProduct: function (product) {
                        this.$emit("delete", product);
                    }
                }

            })

            var app = new Vue({
                el: '#productsMainApp',
                data: {
                    newProduct: {
                        productId: '',
                        name: '',
                        quantity: ''
                    },
                    products: [{ productId: 10001, name: "Product 1", quantity: 100 },
                    { productId: 10002, name: "Product 2", quantity: 50 },
                    { productId: 10003, name: "Product 3", quantity: 200 },
                    { productId: 10004, name: "Product 4", quantity: 300 }],
                    compName: 'product-detail'
                },
                methods: {
                    deleteProduct: function (product) {
                        _.remove(this.products, product);

                        this.$forceUpdate()
                    }
                },
                computed: {
                    orderdProducts: function () {
                        return this.products.sort((x, y) => x.quantity - y.quantity);
                    }
                }
            })
        });
    </script>
</body>

<template id="productDetail">
    <tr>
        <td>
            {{product.productId}}
        </td>
        <td>
            {{product.name}}
        </td>
        <td>
            {{product.quantity}}
        </td>
        <td>
            <button @click="deleteProduct(product)">Delete</button>
        </td>
    </tr>
</template>

</html>